body {
  margin: 0;
  padding: 0;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/*  Logo Component  */

#main-logo {
	width: 150px;
}

.logo-box {
	display: flex;
	width: 100vw;
	height: 40vh;
	min-height: 150px;
	justify-content: center;
	align-items: center;
}

/*  Navbar Component  */

.navbar {
	width: 100vw;
	min-height: 50px;
	height: 5vh;
	display: flex;
}

.menu {
	justify-content: center;
	align-items: center;
	margin: auto;
}

/*  Slider Component  */

.gallery {
	width: 90vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
	margin: auto;
}

.photo-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo-img {
	height: 100%;
	width: 100%;
	min-width: 330px;
	min-height: 200px;	
}

/*  RightColumn Component  */

/*  Blog Component  */

/*  InstagramInfo Component  */

  /*Footer Component  */

.footer {
	width: 100vw;
	bottom: 0;
	min-height: 50px;
	height: 5vh;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
}

/*  Media queries  */

@media screen and (min-width: 410px) {
	#main-logo {
		width: 200px;
	}

	.categories {
	display: flex;
	}
}

@media screen and (min-width: 910px) {
	#main-logo {
		width: 230px;
	}
}